<div class="px-4 py-3 text-sm text-red-600">
  <p><%= error %></p>
  <p class="mt-2">
    <%= link_to "Google account opnieuw koppelen", settings_google_accounts_path, class: "text-red-700 underline hover:no-underline" %>
  </p>
</div>
