<div class="text-center py-4 text-gray-500 text-sm">
  <p>Geen Google account met mail ingeschakeld</p>
  <%= link_to "Instellingen", settings_google_accounts_path, class: "text-blue-600 hover:text-blue-700" %>
</div>
