<div class="text-center py-4 text-red-500 text-sm">
  <p><%= error %></p>
  <%= link_to "Opnieuw koppelen", settings_github_accounts_path, class: "text-red-600 hover:text-red-800 underline" %>
</div>
